@model WordManipulationApp.Models.ParagraphModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2> Paragraph Assignment</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">

        @using (Html.BeginForm("AssignComponent", "Home"))
        {
            for (var i = 0; i < Model.ParagraphList.Count; i++)
            {
                <div style="padding: 10px;margin:5px;border: black solid 1px;border-radius: 5px;">
                    <div style="float:left;margin-right:10px;margin-bottom:5px">
                        @Html.DisplayTextFor(m => Model.ParagraphList[i].ParagraphText)
                        @Html.HiddenFor(m => Model.ParagraphList[i].ParagraphText)
                    </div>
                    <div>
                        @Html.EnumDropDownListFor(m => Model.ParagraphList[i].SelectedComponent, new { style = "width: 100px; Height:25px" })
                    </div>
                </div>                
            }
            <button type="submit" style="margin-top:10px" class="btn btn-primary text-center">Merge</button>
        }

    </div>
</div>
